{% extends 'Questionnaire/base.html' %}

{% block extra_javascript %}
    <script src="{{ STATIC_URL }}javascript/jquery-1.10.2.min.js"></script>
    <script src="{{ STATIC_URL }}javascript/highcharts.js"></script>
{% endblock %}

{% block body_block %}
    <script>
    $(function () {
        $('#container').highcharts({
            chart: {
                type: 'line'
            },
            title: {
                text: "Chron's Disease Activity Index"
            },
            xAxis: {
                categories: []
            },
            yAxis: {
                title: {
                    text: 'Score'
                }
            },
            series: [{
                name: 'Weekly Scores',
                data: {{ data|safe }}
            }]
        });
    });
    </script>
    <div id="container" style="width:100%; height:400px;"></div>
{% endblock %}